/*Q.2,
    change text color
    add a background image
    change the font
    delete margin*/
body {
    background-image: url("../assets/image/blue-water-texture.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/*Q.3,
    change width of the div
    put margin on top and bottom
    center that div
    change background color*/
.container {
    max-width: 1300px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
    background-color: #FEFAE0;
}

/*Q.4
    change the line height
    add padding*/
.content {
    padding: 10px;
    line-height: 1.4em;
}

/*make the banner take all the space of the div*/
#banner {
    width: 100%;

}

/*make sure the nav have a green background*/
header {
    height: 475px;
}

/*Q.5
    change the background color
    change the text color*/
header,
nav,
footer {
    background-color: #CCD5AE;
    color: #6c584c;

}

/*Q.6
    delete margin
    add padding*/
nav>ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
}

/*Q.7
    display horizontally
    add margin to the right
    put text in uppercase*/
nav>ul>li {
    margin-right: 40px;
    text-transform: uppercase;
    float: left;
    list-style-type: none;
}

/*Q.8
    change text color*/
a:link {
    color: #7f5539;
}

/*Q.8
    change text color*/
a:visited {
    color: #774936;
}

/*Q.8
    change text color*/
a:hover {
    color: #b08968;
}

/*Q.8
    change text color*/
a:active {
    color: #5e503f;
}

/*Q.9
    delete the underline*/
a {
    text-decoration: none;
}

/*Q.10
    add margin
    put text in uppercase
    change text color*/
h1,
h2,
h3 {
    margin: 10px;
    text-transform: uppercase;
    color: #344e41;
}

/*Q.11
    center the image
    pur margin on the top and bottom
    put padding*/
.img-centre {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    display: block;
    margin: auto;
}

/*Q.12
    center the audio and/or video
    put margin*/
audio,
video {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Q.13
    change the width
    center the table
    put margin on top and bottom
    make the border collapsed*/
table {
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    border: solid 1px;
}

/*Q.14
    put a border
    put padding
    change background color*/
td,
th {
    border: solid 1px;
    padding: 2px 5px;
    background-color: #E9EDC9;
}

/*Q.15
    put text in uppercase
    change background color
    change text color*/
table th,
tfoot td {
    text-transform: uppercase;
    background-color: #CCD5AE;
    color: #7f5539;
}

/*Q.16
    make text bold*/
dt {
    font-weight: bold;
}

/*Q.17
    change text size
    align text
    change padding*/
footer {
    font-size: 80%;
    text-align: center;
    padding: 1px 0;
}

/*Q.18
    add margin
    center the iframe*/
iframe {
    margin: 10px;
    display: block;
    margin: auto;
}

/*Q.19
    change width
    add margin
    add border
    change background color*/
fieldset {
    width: 500px;
    margin: 20px auto;
    border: solid 1px;
    background-color: #FAEDCD;
}

/*Q.20
    put text in italic
    change text color and background color
    change margin
    change padding
    give round border*/
legend {
    font-style: italic;
    background-color: #c6ac8f;
    color: #6c584c;
    margin: 0 10px;
    padding: 0 5px;
    border-radius: 20px;
}

/*Q.21
    change border
    add padding
    change background color
    change text color*/
input[type="submit"] {
    border: solid 1px;
    padding: 5px;
    background-color: #CCD5AE;
    color: #000000;
}

/*Q.22
    change background and text color when you are on the button
    change the mouse pointer when you are on the button*/
input[type="submit"]:hover {
    background-color: #E9EDC9;
    color: #6c584c;
    cursor: pointer;
}